body{
    box-sizing: border-box;
    margin: 0;
}
nav{
    width: 98vw;
    height: 11vh;
    background-color: #EEEEEE;
}
img{
    width: 6vw;
    height: 3vw;
    margin-left: 3.5vw;
    margin-top: 1vw;
}
ul{
    list-style: none;
    width: 35vw;
    height: 100%;
    text-align: right;
    float: right;
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    margin-top: 2vw;
}









