.first {
   height: 100px;
   width: 100px; 
   background-color: black;
   display: inline-block;
}

.second {
    height: 100px;
    width: 100px;
    display: inline-block;
    visibility: hidden;
}

/* Completed: 1-24-22 2:15 PM */