.longbox {
    width: 98vw;
    height: 10vw;
    border: black solid 2px;
    margin: 5px;
}

.shortbox {
    width:  60vw;
    height: 20vw;
    border: solid black 2px;
    margin: 5px;
}

.asidebox {
    height: 41vw;
    width: 35vw;
    border: black solid 2px;
    margin: 5px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearboth {
    clear: both;
}

aside {
    background-position: center;
    background-size: 100% 100%;
}

.boxshadow {
    width: 98vw;
    border: 1px solid;
    box-shadow: 5px 10px 8px #888888 inset, -5px -10px 8px #888888 inset;
}

.textShadow {
    text-shadow: 2px 2px yellow, 5px 10px orangered;
}